html, body { 
  min-height:100%
}

h1 {
  /* text-align: center; */
  font-variant: small-caps;
  font-size: 2.1em; 
  color: white;
  margin-bottom: .2em;
  /* text-shadow: 2px 2px 4px #000000; */
  margin-top: .3em;
  margin-left: .5em;
}

h2 {
  text-align: center;
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px 8px #000;
}

h3 {
  text-align: center;
  color: white;
  font-size: 2em;
}

body {
  background-image: linear-gradient(#023867, #f6f7f7);
  box-sizing: border-box;
  font-family: 'Cinzel', sans-serif;
}

p {
    color: white;
    line-height: 1.6em;
}

a {
    color: lightcyan;
    font-size: 1.3em;
}

header .row {
  max-width: 100%;
 }

header {
    background-color: black;
    height: 50px;
}

select {
    width: 100%;
    height: 2em;
    margin-top: .5em;
}

input {
    width: 100%;
    height: 2em;
}

.intro {
  background-color: darkslategrey;
  margin-top: 2em;
  margin-left: 2em;
  box-shadow: 2px 2px 8px #000;
  margin-right: 2em;
}

.info {
    position: absolute;
    right: 20px;
    top: 10px;
}

.card {
  background-color: grey;
  border: 1px solid #000;
  width: 100%;
}

.cardBackground {
    border: 1px solid #fff;
    box-shadow: 2px 2px 8px #000;
    background-color: darkslategrey;
    margin-top: 2em;
    position: relative;
}

.myButton {
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    width: 6em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 1em;
  }

.inlineButton {
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    color: black;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.spacer {
  height: .5em;
}

.form {
  height: 100%;
}

.characterText {
  position: absolute;
  font-size: 1em;
  width: 49%;
  text-align: right;
  right: .5em;
  top: 4.8em;
  font-weight: bold;
  line-height: 1.em;
}


.cayadBKG {
  background-image: url("../img/cayad_homepage.png");
  background-size: cover;
  height: 31%;
}


.devoidBKG {
  background-image: url("../img/devoid_homepage.png");
  background-size: cover;
  height: 31%;
}

.hadjenBKG {
  background-image: url("../img/hadjen_homepage.png");
  background-size: cover;
  height: 31%;
}

.minotaurBKG {
  background-image: url("../img/minotaur_homepage.png");
  background-size: cover;
  height: 31%;
}

.sicariusBKG {
  background-image: url("../img/sicarius_homepage.png");
  background-size: cover;
  height: 31%;
}

.tirBKG {
  background-image: url("../img/tir_homepage.png");
  background-size: cover;
  height: 31%;
}

  .characterText {
    position: absolute;
    font-size: 1em;
    width: 49%;
    text-align: right;
    right: .5em;
    top: 4.8em;
    font-weight: bold;
    line-height: 1em;
  }

  .raceName {
    position: absolute;
    right: .5em;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 2px 8px #000;
    top: .2em;
}

@media all and (min-width: 1201px) {
  .col-4 {
    width: 33.33%;
  }

  .characterText {
    font-size: 1em;
    width: 49%;
    text-align: right;
    right: .5em;
    top: 3.4em;
  }
}

/*@media all (max-width: 1200px) and (min-width: 1001px) {
  .col-4 {
    width: 33.33%;
  }

  .characterText {
    font-size: 1em;
    width: 49%;
    text-align: right;
    right: .5em;
    top: 3.4em;
  }
}*/
@media all and (min-width: 1101px) {

  .col-4 {
    width: 33%;
  }

.characterText {
    font-size: 1.2em;
    width: 52%;
    right: .5em;
    top: 3.8em;
    font-weight: bold;
    line-height: 1em;
  }
}



@media all and (max-width: 1101px) and (min-width: 901px) {
  .col-4 {
    width: 50%;
  }

.characterText {
    font-size: 1.2em;
    width: 52%;
    right: .5em;
    top: 3.8em;
    font-weight: bold;
    line-height: 1em;
  }
}

@media all and (max-width: 900px) and (min-width: 570px) {
  .col-4 {
    width: 50%;
  }

.characterText {
    font-size: 1em;
    width: 49%;
    right: .5em;
    top: 3.8em;
    font-weight: bold;
    line-height: 1em;
  }

}


@media all and (max-width: 569px) and (min-width: 400px) {
  .col-4 {
    width: 100%;
  }

  h1 {
  font-size: 1.3em;
  margin-top: .7em;
  }

  .characterText {
    font-size: 1em;
    top: 3.5em;
  }

}
}




